body {
    background-color: black;
    font-size:medium;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
.post {
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-header {
    display: flex;
    padding: 1%;
}

.post-img {
    position: relative;
    width: 100%;
    height: 100%;
}
img {
    position: relative;
    width: 100%;
    height: 100%;
}
    
.post-body {
    width: 96%;
    margin-left: 1%;
    margin-right: 5%;
    padding: 1%;
}
.post-icons{
display: flex;
}
i {
    font-size: 30px;
}
i.fa-bookmark {
    position: relative;
    margin-left: auto;
    padding-right: 2%;
}
i.fa-ellipsis-vertical {
    position: relative;
    margin-left: auto;
    padding-top: 5%;
    padding-right: 2%;
}
i.fa-heart {
    margin-right: 10px;
}
i.fa-comment{
    margin-right: 10px;
}

i.fa-html5 {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
}
